body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {  
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
  margin: 5px 0;
  border: 1px solid #999999;
  background-color: #f1f1f1;
}
.top {
  background-color:#515151;
  color: #ffffff;
}
li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  &.tache {
    margin:0 10px;
  }
}

.checked {
  opacity: 0.5;
  li {
    text-decoration: line-through;
  }

}

.new {
  background-color:transparent;
  border: none;
  margin-top: 50px;
  padding:0;
  li {
    width: auto;
    padding:0 10px;
  }
  input {
     height: 34px; 
  }
  .tache {
    margin:0; 
    input {
      height: 30px; 
      width: 300px;
      padding:0 5px;
    }
  }
}